<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Prescription dashboard for MIE module (University of Manchester)">
    <meta name="author" content="Alan Davies">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Prescribing dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/abx.css') }}" rel="stylesheet">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Custom scripts for the dashboard -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>

    <!-- Page script -->
    <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};

          // Run JavaScript functions when page ready
          $(document).ready(function () {
              initializeMain();
              var graphs = {{ dashboard_data.top_items_plot_data.graphJSON | safe }};
              Plotly.plot('chart',graphs,{});    
          });
    </script>
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <img id="uom-logo" src="{{url_for('static', filename='img/logo-uom.png') }}" />
        <img id="ucl-logo" src="{{url_for('static', filename='img/logo-ucl.png') }}" />
        <br />
        <hr class="sidebar-divider my-0">
        
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <div class="nav-link" onclick="popup.showAboutPopup();">
            <i class="fas fa-info-circle"></i>
            <span>About</span></div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Main menu:
        </div>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <div class="nav-link" onclick="popup.showCeatCalcFormPopup();">
            <i class="fas fa-calculator"></i>
            <span>Creatinine Clearance</span>
          </div>
        </li>
         <!-- BMI Calc Menu -->
         <li class="nav-item">
          <div class="nav-link" onclick="popup.showBMICalcFormPopup();">
               <i class="fas fa-calculator"></i>
            <span>BMI Calculator</span>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Generate Report Button -->
        <li class="nav-item">
          <div class="nav-link" onclick="generateReport();">
              <i class="fas fa-file-pdf"></i>
              <span>Generate Report</span>
          </div>
        </li>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fas fa-arrow-left"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                  <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Prescribing Dashboard</h1>
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Total items tile -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total items:
                          <!-- Add tooltip here -->
                          <i 
                          class="fas fa-info-circle" 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="This is the total number of prescribed items dispensed.">
                          </i> 
                          <!-- Add tooltip here -->
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboard_data.tile_data_items.total_items }}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-pills fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Mean ACT cost tile -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Average ACT cost:
                          <!-- Add tooltip here -->
                          <i 
                          class="fas fa-info-circle" 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="This is the average actual cost of the prescribed items.">
                          </i>
                          <!-- Add tooltip here -->
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">£{{ dashboard_data.tile_data_items.avg_act_cost }}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <!-- Summary of the total spend in drugs cost tile -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total drug spend:
                        <!-- Add tooltip here -->
                        <i 
                        class="fas fa-info-circle" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="This is the total amount spend in drugs cost.">
                        </i>
                        <!-- Add tooltip here -->
                      </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">£{{ dashboard_data.tile_data_items.total_act_cost }}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Top prescribed items tile -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">TOP PRESCRIBED ITEM:
                                    <!-- Add tooltip here -->
                                    <i 
                                    class="fas fa-info-circle" 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    title="This is the top prescribed item, its count, and its percentage of all items.">
                                    </i>
                                    <!-- Add tooltip here -->
                                </div>
                                <!-- Display the top prescribed item name -->
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboard_data.tile_data_items.top_px_item }}</div>
                                <!-- Display the percentage of total items -->
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboard_data.tile_data_items.top_px_item_percentage }}%</div>
                                </div>
                                <!-- Progress bar to visually represent the percentage -->
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" 
                                        style="width: {{ dashboard_data.tile_data_items.top_px_item_percentage }}%" 
                                        aria-valuenow="{{ dashboard_data.tile_data_items.top_px_item_percentage }}" 
                                        aria-valuemin="0" 
                                        aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


              <!-- Unique items tile -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">NUMBER OF UNIQUE ITEMS:
                          <!-- Add tooltip here -->
                          <i 
                          class="fas fa-info-circle" 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="This is the number of unique prescribed items.">
                          </i>
                          <!-- Add tooltip here -->
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboard_data.tile_data_items.num_unique_items}}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-fingerprint fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
            <div class="row">
              <div class="col-xl-6 col-lg-7">
                <div class="card shadow mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{dashboard_data.top_items_plot_data.header}}</h6>
                  </div>
                  <div class="card-body">
                    <div id="chart" class="chart"></div>
                    <p>{{dashboard_data.top_items_plot_data.description}}</p>                    
                  </div>
                </div>
              </div>
                <!-- Content Column -->
              <div class="col-xl-6">

                <!-- Infection treatment drugs -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Infection treatment drug as % of all infection treatments</h6>
                  </div>
                  <div class="card-body">
                    <!--Antibacterials -->
                    <div class="mb-3">
                      <div class="d-flex justify-content-between">
                        <span>Antibacterials</span>
                        <span>{{dashboard_data.percentage_card_data.Antibacterials}}%</span>
                      </div>
                      <div class="progress" style="height: 20px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ dashboard_data.percentage_card_data.Antibacterials }}%;" aria-valuenow="{{ dashboard_data.percentage_card_data.Antibacterials }}"  aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>

                    <!--Antifungal -->
                    <div class="mb-3">
                      <div class="d-flex justify-content-between">
                        <span>Antifungal</span>
                        <span>{{dashboard_data.percentage_card_data.Antifungal}}%</span>
                      </div>
                      <div class="progress" style="height: 20px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ dashboard_data.percentage_card_data.Antifungal }}%;" aria-valuenow="{{ dashboard_data.percentage_card_data.Antifungal }}"  aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>

                    <!--Antiviral -->
                    <div class="mb-3">
                      <div class="d-flex justify-content-between">
                        <span>Antiviral</span>
                        <span>{{dashboard_data.percentage_card_data.Antiviral}}%</span>
                      </div>
                      <div class="progress" style="height: 20px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ dashboard_data.percentage_card_data.Antiviral }}%;" aria-valuenow="{{ dashboard_data.percentage_card_data.Antiviral }}"  aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>

                    <!--Antiprotozoal -->
                    <div class="mb-3">
                      <div class="d-flex justify-content-between">
                        <span>Antiprotozoal</span>
                        <span>{{dashboard_data.percentage_card_data.Antiprotozoal}}%</span>
                      </div>
                      <div class="progress" style="height: 20px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ dashboard_data.percentage_card_data.Antiprotozoal }}%;" aria-valuenow="{{ dashboard_data.percentage_card_data.Antiprotozoal }}"  aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>

                    <!--Anthelmintics -->
                    <div class="mb-3">
                      <div class="d-flex justify-content-between">
                        <span>Anthelmintics</span>
                        <span>{{dashboard_data.percentage_card_data.Anthelmintics}}%</span>
                      </div>
                      <div class="progress" style="height: 20px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ dashboard_data.percentage_card_data.Anthelmintics }}%;" aria-valuenow="{{ dashboard_data.percentage_card_data.Anthelmintics }}"  aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
            <div class="row">

              <div class="col-xl-12">
                <!-- Show the BNF data for slected PCT -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">BNF data per PCT</h6>
                  </div>
                  <div class="card-body">
                      <form method='POST' action="{{ url_for('dashboard.home') }}">
                        <input type="hidden" name="form-id" value="form1">
                        <select class="custom-select" id="input-group-select" name="pct-option">
                          {% for item in dashboard_data.pct_list %}
                          <option name="option-list" value="{{ item }}">{{ item }}</option>
                          {% endfor %}
                        </select>
                        <input type="submit" value="Update" class="btn btn-outline-secondary" />
                      </form>
                      <hr />
                      <table class="table">
                      <thead>
                        <td>Practice</td>
                        <td>BNF code</td>
                        <td>BNF name</td>
                        <td>Items</td>
                      </thead>
                        <tbody>
                        {% for row in dashboard_data.pct_data %}
                          <tr>
                            <td>{{ row.practice }}</td>
                            <td>{{ row.BNF_code }}</td>
                            <td>{{ row.BNF_name }}</td>
                            <td>{{ row.items }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- Creatinine clearance calculator -->
        <div id="creat-calc">
          <div class="card">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Creatinine Clearance Calculator</h6>
            </div>
            <div class="card-body">
              <p>Sex of patient:</p>
              <div>
                <label class="radio-inline">
                  <select id="sex" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                <br /><br />
                <p>Age of patient (years):</p>
                <input type="number" min="1" max="100" name="age" id="age" onclick="modcal();" required/>
                <br /><br />
                <p>Weight of patient (kg):</p>
                <input type="number" min="20" max="120" name="weight" id="weight" onclick="modcal();" required/>
                <br /><br />
                <p>Serum creatinine (micromol/L):</p>
                <input type="number" min="30" max="500" name="serum-creatinine" id="serum-creatinine" onclick="modcal();" required/>
                <br />
              </div>
              <hr />
              <button type="button" class="btn btn-primary" onclick="calculateCreatinineClearance();" id="ctc-button">Calculate</button>
              <!-- Add tooltip here -->
              <i 
              class="fas fa-info-circle" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="This calculates CrCl according to the Cockcroft-Gault equation, for use in patients with stable renal function to estimate creatinine clearance.">
              </i> 
              <br /><br />
              <p class="h7 mb-0 font-weight-bold text-gray-800" id="result"></p>
              <button type="button" class="btn btn-danger" onclick="popup.hideCeatCalcFormPopup();">Close</button>
                <br /><br />
                <p id="results"></p>
              </body>
              </html>
                  </div>
            </div>
          </div>

            <div class="row last-row">
              <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Total number of prescribed antibiotics for each GP practice in a selected PCT</h6>
                  </div>
                  <div class="card-body">
                    <form method="POST" action="{{ url_for('dashboard.home') }}">
                      <input type="hidden" name="form-id" value="form2">
                      <select class="custom-select" id="input-group-select-2" name="pct-option">
                        {% for item in dashboard_data.pct_list %}
                        <option name="option-list" value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                      </select>
                      <input type="submit" value="Update" class="btn btn-outline-secondary">
                    </form>
                    <canvas id="chart2" class="chart" data-labels='{{ dashboard_data.barchart_data.antibiotics_data.labels }}' data-data='{{ dashboard_data.barchart_data.antibiotics_data.data }}' width="800" height="400"></canvas> <!-- 设置固定宽度和高度 -->
                  </div>
                </div>
              </div>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
            <script>
            document.addEventListener('DOMContentLoaded', function () {
              var chartElement = document.getElementById('chart2');
              try {
                var pctData = {
                  labels: JSON.parse(chartElement.dataset.labels),
                  data: JSON.parse(chartElement.dataset.data)
                };
                console.log('pctData:', pctData); // 打印 pctData
                var barChart = new BarChart();
                barChart.drawChart(pctData, 'chart2');
              } catch (e) {
                console.error('Error parsing JSON:', e);
                console.log('chartElement.dataset.labels:', chartElement.dataset.labels);
                console.log('chartElement.dataset.data:', chartElement.dataset.data);
              }
            });
            </script>
        </div>  
      </div>
    </div>
  </div> 
    <!-- BMI Calculator -->
    <div id="BMI-calc">
      <div class="card">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">BMI Calculator For Adult Patient</h6>
            </div>
               <div class="card-body">
                <p>Weight of patient (kg):</p>
                     <input type="number" min="20" max="250" name="weight1" id="weight1" onclick="modcal();" required/>
                     <br /><br />
                     <p>Height of patient (cm):</p>
                     <input type="number" min="20" max="250" name="height1" id="height1" onclick="modcal();" required/>
                        <hr />
            <button type="button" class="btn btn-primary" onclick="calculateBMI();" id="ctc-button">Calculate</button>
            <!-- Add tooltip here -->
            <i 
            class="fas fa-info-circle" 
            data-toggle="tooltip" 
            data-placement="top" 
            title="For most adults the BMI below 18.5 is underweight range, 18.5 to 24.9 is healthy weight range, 25 to 29.9 is overweight range, 30 to 39.9 is obese range, 40 or above is severely obese range.">
            </i> 
            <br /><br />
            <p class="h7 mb-0 font-weight-bold text-gray-800" id="BMIresult"></p>
            <button type="button" class="btn btn-danger" onclick="popup.hideBMICalcFormPopup();">Close</button>
                   <p id="BMIresult"></p>
                </body>
                </html>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>  
            <!-- About popup -->
            <div id="about-box">
              <div class="card">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">About the prescribing dashboard</h6></div>
                  <div class="card-body">
                    <p>Welcome to the Integrated Care Board (ICB) Resource Management Dashboard. This platform is designed to support informed decision-making by providing insights into drug costs and resource allocation across GP practices. Contact the support team @+441234567899 or email support@icb.net</p>
                    <br />
                    <hr />
                    <button type="button" class="btn btn-danger" onclick="popup.hideAboutPopup();">Close</button>
                  </div>
              </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                <div class="copyright text-center my-auto">
                  <span>Copyright &copy; Alan Davies 2024</span>
                </div>
              </div>
            </footer>
            <!-- End of Footer -->

          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Page mask -->
    <div id="page-mask"></div>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <script>
      function generateReport() {
          window.location.href = "/generate-report";  // Redirect to the Flask route (to be implemented in Step 2)
      }
    </script>

  </body>
</html>

  <!-- Creatinine Clearance Calculator -->
  <!DOCTYPE html>
<html>
<head>
  <title>Creatinine Clearance Calculator</title>
  </style>
  <script>
    function calculateCreatinineClearance() {
      // Get input values
      var serumCreatinine = parseFloat(document.getElementById('serum-creatinine').value);
      var age = parseInt(document.getElementById('age').value);
      var weight = parseFloat(document.getElementById('weight').value);
      var sex = document.getElementById('sex').value;
      // Calculate creatinine clearance
      var creatinineClearance;
      if (sex === 'Male') {
        creatinineClearance = ((140 - age) * weight * 1.23) / (serumCreatinine);
      } else {
        creatinineClearance = ((140 - age) * weight * 1.23 * 0.85) / (serumCreatinine);
      }
  
      // Display the result with disclaimer and explanation
      var result = " The estimated creatinine clearance result is: " + creatinineClearance.toFixed(2) + " mL/min.";
      document.getElementById('result').innerHTML = result;
    }
  </script>
</head>
<body>
    <!-- BMI Calculator -->
  <!DOCTYPE html>
    <html>
     <head>
       <title>BMI Calcualtor For Adult Patient</title>
         </style>
             <script>
              function calculateBMI() {
                  // Get input values
                   var weight1 = parseFloat(document.getElementById('weight1').value);
                   var height1 = parseFloat(document.getElementById('height1').value);
        // Calculate BMIResult
        var BMI;
        BMI = (weight1 / (height1 * height1)) * 10000 ;
        // Display the result with disclaimer and explanation
        var BMIresult = "The estimated BMI result is:  " + BMI.toFixed(1);
        document.getElementById('BMIresult').innerHTML = BMIresult;
      }
    </script>
  </head>
  <body>
